@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: linear-gradient(to right, #55439E, #952FFF);
}

.main-container {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(./_glass/Group\ 12.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#img-left-bottom {
  width: 284px;
  height: 284px;
  position: absolute;
  left: 20px;
  bottom: 15px;
}

#img-left-top{
  width: 290.25px;
  height: 267.16px;
  position: absolute;
  top: -100px;
  left: -30px;
}

#img-right {
  width: 550px;
  height: 610px;
  position: absolute;
  right: 0;
  top: 50px;
}

.info {
  width: 100%;
  max-width: 1117px;
  z-index: 9;
  display: flex;
  justify-content: space-between;
}

.info__title {
  width: 480px;
}

.info__title h1 {
  font-family: Lato, sans-serif;
  width: 380px;
  font-style: normal;
  font-weight: bold;
  font-style: 40px;
  line-height: 60px;
  text-transform: capitalize;
  color:#FFF;
  margin-top: 0;
  margin-bottom: 20px;
}

.info__title p {
  font-family: Open Sans, sans-serif;
  width: 383px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #FFF;
  margin-top: 0;
  margin-bottom: 60px;
}

.info__submit {
  width: 100%;
  position: relative;
}

.info__submit input {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(45px);
  padding-left: 30px;
}

.info__submit input::placeholder {
  font-family: Lato;
  font-size: 16px;
  font-weight: normal;
  line-height: 16px;
  color: #CDBFD8;

}

.info__submit button {
  width: 120px;
  height: 60px;
  background-color: #4F3AA7;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height:16px;
  color: #FFF;
  outline: none;
  border: none;
  position: absolute;
  top: 12px;
  right: -20px;
}